select:disabled {
  box-shadow: none !important;
  outline: none !important;
  background: none !important;
  font-size: 16px;
  border: 1px solid #fff !important;
  color: #000 !important;
}

input::placeholder,
textarea::placeholder {
  color: #252525 !important;
  font-size: 14px;
}

.form-select {
  width: 97px;
  z-index: 1;
  text-align: center !important;
  pointer-events: auto;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  background-color: rgb(238, 198, 128);
  border-color: white;
  color: black;
  // padding: 5px;
  padding-left: 36px;
  padding-right: 28px;
}

.form-select:focus {
  box-shadow: none !important;
  outline: none !important;
  background: none !important;
}

.bg-clr {
  background: linear-gradient(to right, #5c1c30, #130448);
  background-color: #00000000;
}

// .img-fluid {
//   height: 150px;
//   width: 150px;
//   border-radius: 5px;
//   border: none;
// }

.col-form-label {
  font-weight: 600;
  letter-spacing: 0.4px;
}

.modal-body {
  input {
    background-color: rgb(238, 198, 128);
    border-color: white;
    color: black;
    // padding: 5px;
  }

  input[type=text]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=tel]:focus,
  textarea:focus {
    box-shadow: none !important;
    outline: none !important;
    background: none !important;
    font-size: 16px;
    border: 1px solid #fff !important;
    color: #000 !important;
    width: 100%;
  }

  input:disabled {
    box-shadow: none !important;
    outline: none !important;
    background: none !important;
    font-size: 16px;
    background-color: #eec680 !important;
    border: 1px solid #fff !important;
    color: #000 !important;
    width: 100%;
  }

  textarea {
    background-color: rgb(238, 198, 128);
    border-color: white;
    color: black;
  }
}

.lt-input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: black;
}

.lt-verified-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: black;
}

.modal-dialog {
  max-width: 29%;
  margin: auto;
}

@media (max-width: 768px) {
  .custom-size {
    max-width: 90%;
    position: relative;
  }
}

.rounded-input {
  border-radius: 20px;
}

.modal-content {
  border-radius: 1rem;
  background: linear-gradient(to right, #f5bf5d, #f3bf5e);
  background-color: rgba(0, 0, 0, 0);
}

.lt-btn-close {
  position: absolute;
  font-size: 20px;
  top: -23px;
  right: -23px;
  width: 40px;
  height: 40px;
  z-index: 1051;
  background-color: #f3bf5e;
  border: none;
  color: #f3bf5e;
  opacity: 100%;

  @media (max-width: 576px) {
    top: 0px;
    right: 0px;
  }
}

.lt-btn-close:hover {
  background-color: rgb(243, 191, 94) !important;
  opacity: 100%;
}

.lt-btn-close:focus {
  outline: none;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #000;
  border: none;
}

.form-check-input:checked[type=radio] {
  background-image: none;
  background-color: #000;
}

.custom-radio .form-check-input {
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  appearance: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

.custom-radio .form-check-input:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.bg-color {
  background: linear-gradient(180deg, #6A45BE 0%, #FEB343 100%);
}

.otp {
  input {
    background-color: transparent;
    border-color: white;
    color: black;
    padding: 7px;
    border-radius: 11px;
  }

  button {
    box-shadow: none !important;
    outline: none !important;
  }

  .verify-btn:hover {
    background: none;
    color: #fff;
  }
}

.verified-icon {
  display: none;
  right: 24px;
}